@page "/"
@model MyBlog.Pages.Blogs.IndexModel
@{
    ViewData["title"]="Blogs";
}
<a asp-page="create" class="btn btn-primary m-3">Create</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Time Created</th>
            <th>Time Modified</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model.Blogs)
        {
        <tr>
            <td>@blog.Id</td>
            <td>@blog.Name</td>
            <td>@blog.Description</td>
            <td>@blog.TimeCreated</td>
            <td>@blog.TimeModfied</td>
            <td>
                <a asp-page="Details" asp-route-id="@blog.Id" class="btn btn-light">Details</a>
                <a asp-page="Edit" asp-route-id="@blog.Id" class="btn btn-primary">Edit</a>
                <a asp-page="Delete" asp-route-id="@blog.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>